@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
    /* .w-full h-screen {
        
    } */
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #91e2d0,
        #07856a   
    )!important;
}
.hidden :hover {
    color: var(--hover);
    text-shadow:1px 1px 1px white;; 
  }

.flex {
    display: flex;
    image-orientation: inherit;
    

}